*{
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100%;
}


/*
.material-icons {
    position: fixed;
    top: 2rem;
    left: 2rem;
} */
.site-header {
    background-color: blue;
    color: #ffffff;
    border: 10px solid red;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    padding: 5px 5px;
    margin: 3px;
    
}

.site-header-title {
    font-size: 72px;
    animation: fadeInDown 2s;
}


section h2 {
    background-color: red;
}
/* tog bort dessa gamla för de sabbade mina nav bars hovering effekter.
nav a:hover {
    background-color: red;
}

nav a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
*/
.synopsis {
    color: black;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 1.3rem;
}

.section-header {
    background-color: red;
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

.menu-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.3rem;
  }

.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    border: 1px solid black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
   /* display: flex;
    justify-content: center; */

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 172px;
    z-index: 1;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
  }
  

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; transition: all 3s;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: blue;     transition:all 1s ease-in-out;
  }


.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://w0.peakpx.com/wallpaper/652/12/HD-wallpaper-rocky-balboa.jpg);
   /* background-color: white; */
    padding-top: 1rem;
}

img {
    width: 150px;
}

.h2--lower {
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

.about-image {
    text-align: center;
}

.happyCoder:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.site-navbar {
    background-color: white;
    color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    /*text-align: center;  */
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    gap: 15px;
    top: 0;
    
}

.site-navbar a {
    text-decoration: none;
    color: black;
}

.site-navbar a:visited {
    color: black;
}

.site-navbar a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    opacity: .6;
}

.kontakt-sida {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: salmon;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.image-footer {
    text-align: center;
}


/* Sociala medier ikoner */
.sociala-medier-center {
    text-align: center;
}

.sociala-medier-center a {
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}

.fb{
    background: #1877f2 ;
}
.insta{
    background: #fb3958;
}
  
.take-me-back {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

  .take-me-back:visited {
    color: salmon;
  }

.lorem {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2rem;
}

em {
    color: red;
}

.facts-container {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.facts-container ul {
    list-style: none;
}

.borderlist {
    text-align: center;
    border: 2px solid black;
    border-style: inset;
    background: white;
}


/* Change fontsize on the rocky imdb list */
.movie-list {
    font-size: 1.2rem;
}

.facts-container ul ol li a {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    border: 0.2px solid black;
    border-style: inset;
    background: white;
}

.facts-container ul ol li a:hover{
    text-decoration: underline 0.125rem;
    text-decoration-color: salmon;
}

.facts-container ul ol li a:visited {
    color: black;
}



.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.punch-container {
    display: flex;
    justify-content: center;
}

.punch {
    display: none;
}

.button {
    background-color: white;
    width: 80px;
    height: 60px;
    border: none;
    display: none;
}

.hidden {
    display: none;
}

.mainHeading-container a {
    color: black;
}

.mainHeading-container a:visited {
    color: black;
}


.mainHeading-container {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

/*.dropMenu {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: red;
   } */

   .media-h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 4rem;
   }


   .youtube-trailer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    /*if I put auto-fill instead of 3, CSS Grid can decide how many columns fit the screen
    the auto-fill will generate more columns if there is space. If u dont want this, you can use auto-fit. 
    Auto-fit is used more than auto-fill*/
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
  }

  .gallery img {
    width: 100%;
    height: 100%;
  }



@media screen and (max-width: 700px) {
    .site-header {
        padding: 1px;
        margin: 1px;
        border: 4px solid salmon;
    }
    .site-header-title {
        font-size: 24px;
    }

    .media-container {
        display: block;
    }

    .wrapper {
        background-size: 100%;
    }

    /* Adding to see if I can create a togglemenu with boxing glove, this makes the navbar disappear */
    .site-navbar {
        display: none;
    } 

    .button {
        display: block;
    }


    .punch {
    display: block;
    width: 90%;
    height: 90%;
    }

    .punch:hover { 
    animation: slideInLeft;  /*heartBeat eller fadeInLeft*/
    animation-duration: 1.5s;
    }

}

@media screen and (max-width: 450px) {
    .site-navbar {
        font-size: 24px;
    }
}

 
